@charset "utf-8";

body {
    font-family: 'Gabirito', Arial, sans-serif;
}


.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

:root {
  --primary-green: #00585c;
  --primary-green-dark: #003b3e;
  --on-primary-green: #f5ffff;
  --primary-orange: #dc9400;
  --primary-orange-dark: #996600;
  --button-padding: 12px 24px;
  --button-radius: 5px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                Utility Functions                    */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */


.flex{
    display: flex;
}

.gap-40 {
    gap: 40px;
}

.center {
    justify-content: center;
    align-items: center;
}

.gap-20 {
    gap: 20px;
}

.gap-8 {
    gap: 8px;
}

.column-direction {
    flex-direction: column;
}

.gap-80 {
    gap: 80px;
}

.margin-bottom {
    margin-bottom: 8px;
}

.align-items {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.padding-12 {
    padding: 12px;
}

.margin-auto {
    margin: auto;
}

.space-between {
    justify-content: space-between;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                      Header                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
    height: 56px;
    background-color: var(--primary-green);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                  Navigation Bar                     */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

.hamburger {
    font-size: 24px;
    color: #000;
    display: none;
    background: none;
    border: none;
    padding: 10px;
}
  
h1 {
    position: relative;
    right: 2px;
    line-height: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    font-weight: 500;
    place-content: center;
    text-transform: uppercase;
}
  
nav .nav-list {
    list-style: none;
}
  
nav .nav-list li {
    display: inline;
    line-height: 56px;
  
    a {
        text-decoration: none;
        color: var(--on-primary-green);
        font-size: 1.6rem;
        font-weight: 500;
    
        &:hover {
            color: var(--primary-orange);
            transition: color 0.25s ease-in-out;
        }
    }
}
  
  .nav-list li + li {
    margin-left: 24px;
  }
  
  .search-bar {
    align-items: center;
    margin-left: 40px;
  }
  
.search-bar-input {
    width: 100%;
    height: 38px;
    padding: 0 15px 0 32px;
    border-radius: 50px;
    transition: all 0.25s ease-in-out;
    background: #f6f6f6 url(../img/search-icon2.png) no-repeat 10px 11px;
    background-size: 14px;
    border: 1px solid transparent;
  
    &:focus {
        border: 1px solid var(--primary-orange);
        box-shadow: 0 0 6px rgba(220, 148, 0, 0.3);
    }
}

.logout {
    padding: var(--button-padding);
    border-radius: var(--button-radius);
    background-color: var(--primary-orange);
    color: #fff;
    font-weight: 600;
    font-size: 1.4rem;
    text-decoration: none;

    &:hover {
        background-color: var(--primary-orange-dark);
        transition: background-color 0.25s ease-in-out;
    }
}

.active {
    border-bottom:2px solid var(--primary-orange);
    font-weight: 600;
    color: var(--primary-orange);
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                  Hero Banner                        */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

.hero-banner {
    height: 600px;
    display: grid;
    place-content: center;
    background: #fff url(../img/bg-1.jpg) center center / cover no-repeat;

    p {
        font-size: 1.8rem;
        margin-top: 8px;
        color: #fff;
    }
}

.overlay {
    padding: 24px;
    background-color: rgb(255 255 255 / 15%);
    backdrop-filter: blur(7px);
    border: 1px solid rgb(255 255 255 / 5%);
    width: 50%;
    border-radius: 16px;
}

h2 {
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 1.2;
    color: var(--primary-orange);
}

button {
    padding: var(--button-padding);
    border-radius: 50px;
}

.shop-now {
    background-color: var(--primary-orange);
    margin-right: 16px;
    color: #fff;
    margin-top: 32px;

    &:hover {
        background-color: var(--primary-orange-dark);
        transition: background-color 0.25s ease-in-out;
    }
}

.shop-now-icon {
    margin-left: 8px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                  Stats Component                    */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

h3 {
    font-size: 3rem;
    color: var(--primary-orange);
    text-align: center;
    font-weight: 600;
    margin-bottom: 24px;
}

.stats-box p{
    font-size: 1.5rem;
    text-align: center;
}

section:nth-child(1){
    margin: 40px 0;
}

section {
    padding: 60px 0;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*               What We Offer Section                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

.icon-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-green);
    display: grid;
    place-content: center;
}

.icon {
    color: #fff;
}

.box {
    border-radius: 25px;
    border: 1px solid var(--primary-green);
    padding: 16px;
    width: 200px;
}

h4 {
    font-size: 4.5rem;
    line-height: 1;
    color: var(--primary-orange);
    text-align: center;
    margin-bottom: 12px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                 Product Gallery                     */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

.product-link {
    text-decoration: none; 
    color: inherit; 
}

.product-link:hover .product-card {
    transform: scale(1.02); 
    transition: transform 0.2s ease-in-out;
}

.products-section {
    background-color: #f4f4f4;
}

.product-list {
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 20px;
    border-radius: 4px;
}

.product-card {
    padding: 16px;
    border-radius: 5px;
    background-color: #fff;
}

.product-img {
    width: 100%;
    height: 150px;
    margin-bottom: 24px;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.product-title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 16px;
    cursor: pointer;

    &:hover {
        color: var(--primary-green);
    }
}

.star {
    font-size: 12px;
    color: #ffc107;
}

.sort-dropdown select {
  padding: 5px 5px;
  color: var(--primary-green);
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                    Contact Form                     */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

.contact-form {
    margin-top: 20px;
    width: 30%;
    padding: 4px 24px 24px 24px;
    box-shadow:  0 0 2px rgba(0, 0, 0, 0.10);
    border-radius: 8px;

    .email-input {
        width: 100%;
        padding: 8px;
        color: #000;
        border-radius: 6px;
        border: 1px solid #ededed;

        &:focus {
            border: 1px solid var(--primary-green);
            transition: border 0.25s ease-in-out;
        }
    }

    label {
        text-align: left;
        margin-bottom: 4px;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--primary-green);
        margin-top: 20px;
    }

    textarea {
        resize: none;
        border: 1px solid #ededed;
        width: 100%;
        padding: 8px;
        border-radius: 6px;

             &:focus {
            border: 1px solid var(--primary-green);
            transition: border 0.25s ease-in-out;
        }
    }

    input[type=submit] {
        padding: var(--button-padding);
        border-radius: var(--button-radius);
        color: #fff;
        background-color: var(--primary-green);
        font-weight: 600;
        margin-top: 32px;

        &:hover {
            background-color: var(--primary-green-dark);
            transition: background-color 0.25s ease-in-out;
        }
    }
}

.form-error-message {
    color: #990000;
    font-size: 1.3rem;
}


/*------------------small banner------------------------*/

.small-banner {
    height: 300px;
    background: #fff url(../img/small-banner2.jpg) center center / cover no-repeat;
}

.small-banner-title {
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
}

.small-banner-overlay {
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                  404 Not Found                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

.error-message {
    background-color: var(--primary-green);
    border-radius: var(--button-radius);
    width: 700px;
    padding: 40px;
    color: var(--on-primary-green);
}

.not-found {
    font-size: 5rem;
    font-weight: 700;
}

.frown-icon {
    font-size: 20rem;
    color: var(--primary-orange);
}

.couldnt-find {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 18px;
}

.back-home {
    margin-top: 40px;
    background-color: var(--primary-orange);
    color: var(--on-primary-green);
    border-radius: var(--button-radius);
    padding: var(--button-padding);
    text-decoration: none;
    display: inline-block;
}

.back-home:hover {
    background-color: var(--primary-orange-dark);
    transition: background-color 0.25s ease-in-out;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*         Product Detail Page - Main Product          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* 
.main-product {
    margin-top: 20px;
} */

.img-container {
    width: 460px;
    height: 550px;
    border-radius: 20px;
    padding: 20px;
}

figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-product-img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
}

.details-container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    margin-left: 160px; 
    width: auto;
    max-width: 400px; 
}

.product-details {
    background-color: #fff;
    padding: 20px;
    min-height: 200px; 
    max-width: 400px; 
    width: 100%;
}

.product-details h3 {
    margin-bottom: 8px;
    font-size: 2.5rem;
    line-height: 1.2;
    text-align: left;
}

.about-item {
    font-weight: 700;
    font-size: 2.2rem;
    text-align: left;
    margin-top: 24px;
}

.rating-text {
    margin-right: 8px;
    font-size: 1.4rem;
}

.persons-bought {
    font-size: 1.4rem;

    span {
        font-weight: 600;
    }
}

.promo {
    font-size: 1.2rem;
    font-weight: 500;
    color: #777;

    span {
        text-decoration: line-through;
        font-weight: 600;
    }
}

.price {
    font-size: 4rem;
}

.description-text {
    font-size: 1.6rem;
}

.about-item-container {
    margin-top: 16px;
    border-top: 1px solid #d7d7d7;
}

.cart-icon {
    font-size: 2rem;
    color: var(--on-primary-green);
    margin-left: 8px;
}

.cart-button {
    margin-top: 32px;
    color: var(--on-primary-green);
    background-color: var(--primary-green);
    padding: var(--button-padding);
    border-radius: var(--button-radius);
    display: flex;
    align-items: center;
}

.cart-button:hover {
    background-color: var(--primary-green-dark); 
    transition: background-color 0.25s ease-in-out;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*      Product Detail Page - Similar Products         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

.similar-products {
    margin-top: 60px;

    h3 {
        font-size: 3rem;
        color: var(--primary-orange);
        text-align: center;
        font-weight: 600;
        margin-bottom: 24px;
    }
}

.similar-container {
    margin-top: 40px;
    background-color: #fff;
    width: 340px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    padding: 5px 20px;
    border: 1px solid #ebebeb;
}   

.product-price-rating {
    width: 100%;
}

.similar-product {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    /* box-sizing: border-box; */
    img {
        width: 100%;
        height: 250px;  
        object-fit: contain; 
        margin: 0 auto;

    }

    h4 {
        font-size: 1.6rem;
        padding-bottom: 20px;
        text-align: center;
    }

    p {
        font-size: 1.8rem;
        text-align: center;
    }
}

.similar-product-link {
    text-decoration: none; 
    color: inherit; 
}

.similar-product-link:hover {
    color: var(--primary-green);
    cursor: pointer; 
}

.similar-product-link h4 {
    color: inherit; 
    text-decoration: none; 
}

.details-star {
    font-size: 1.5rem;
    color: #ffc107;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                    Cart Page                        */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

.cart-page {
    padding: 20px;
}

.cart-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 24px;
}

.cart-items {
    gap: 20px;
}

.cart-item {
    box-shadow:  0 0 8px rgba(0, 0, 0, 0.10);
    padding: 16px;
    border-radius: 5px;
    background-color: #fff;
    align-items: center;
    gap: 20px;
}

.cart-items-container {
    width: 70%;
}

.aside-container {
    width: 30%;
}

.aside-title {
    font-size: 2rem;
}

.cart-item-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.cart-item-details {
    flex: 1;
}

.cart-item-details h4 {
    text-align: left;
    font-size: 1.8rem;
    margin: 0 0 10px 0;
}

.cart-item-details p {
    font-size: 1.6rem;
    margin: 5px 0;
}

.remove-button {
    background-color: var(--primary-orange);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4rem;
}

.remove-button:hover {
    background-color: var(--primary-orange-dark);
    transition: background-color 0.25s ease-in-out;
}

.cart-total {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 600;
}

.subtotal-container button {
    margin-top: 8px;
    padding: var(--button-padding);
    border-radius: var(--button-radius);
    background-color: var(--primary-green);
    color: var(--on-primary-green);

    &:hover {
        background-color: var(--primary-green-dark);
        transition: background-color 0.25s ease-in-out;
    }
}

.bottom-subtotal-container, .subtotal-container {
    box-shadow:  0 0 8px rgba(0, 0, 0, 0.10);
    padding: 16px;
    border-radius: 5px;
}

.bottom-subtotal-container figure {
    width: 100%;
}

.terms-apply {
    p {
        font-size: 1rem;
        color: #000;
        line-height: 1.2;
        cursor: pointer;
    }
}