@charset "utf-8";

body {
    font-family: 'Gabirito', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f0f0f0; 
}


.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

:root {
  --primary-green: #00585c;
  --on-primary-green: #f5ffff;
  --primary-orange: #dc9400;
  --primary-orange-dark: #996600;
  --button-padding: 12px 24px;
  --button-radius: 5px;
}

/*-----------------------Utility function--------------*/


.flex{
    display: flex;
}

.gap-40 {
    gap: 40px;
}

.center {
    justify-content: center;
    align-items: center;
}

.gap-20 {
    gap: 20px;
}

.gap-8 {
    gap: 8px;
}

.column-direction {
    flex-direction: column;
}

.gap-80 {
    gap: 80px;
}

.margin-bottom {
    margin-bottom: 8px;
}

.align-items {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.padding-12 {
    padding: 12px;
}

.margin-auto {
    margin: auto;
}

.space-between {
    justify-content: space-between;
}

/* ---------Header--------- */

header {
    height: 56px;
    background-color: var(--primary-green);
}

/* ---------------------------------- */
/* ---------Navigation bar--------- */
.hamburger {
    font-size: 24px;
    color: #000;
    display: none;
    background: none;
    border: none;
    padding: 10px;
}
  
h1 {
    position: relative;
    right: 2px;
    line-height: 20px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    font-weight: 500;
    place-content: center;
}
  
nav .nav-list {
    list-style: none;
}
  
nav .nav-list li {
    display: inline;
    line-height: 56px;
  
    a {
        text-decoration: none;
        color: var(--on-primary-green);
        font-size: 1.6rem;
        font-weight: 500;
    
        &:hover {
            color: var(--primary-orange);
            transition: color 0.25s ease-in-out;
        }
    }
}
  
  .nav-list li + li {
    margin-left: 24px;
  }
  
  .search-bar {
    align-items: center;
    margin-left: 40px;
  }
  
input[type=text] {
    width: 100%;
    height: 38px;
    padding: 0 15px 0 32px;
    border-radius: 50px;
    transition: all 0.25s ease-in-out;
    background: #f6f6f6 url(../img/search-icon2.png) no-repeat 10px 11px;
    background-size: 14px;
    border: 1px solid transparent;
  
    &:focus {
        border: 1px solid var(--primary-orange);
        box-shadow: 0 0 6px rgba(220, 148, 0, 0.3);
    }
}

.logout {
    padding: var(--button-padding);
    border-radius: var(--button-radius);
    background-color: var(--primary-orange);
    color: #fff;
    font-weight: 600;
    font-size: 1.4rem;
    text-decoration: none;

    &:hover {
        background-color: var(--primary-orange-dark);
        transition: background-color 0.25s ease-in-out;
    }
}

.active {
    border-bottom:2px solid var(--primary-orange);
    font-weight: 600;
    color: var(--primary-orange);
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                  404 Not Found                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

.error-message {
    background-color: var(--primary-green);
    border-radius: var(--button-radius);
    width: 700px;
    margin-top: 20px;
    padding: 40px;
    color: var(--on-primary-green);

}
.not-found {
    font-size: 6rem;
    font-weight: 700;
}

.frown-icon {
    font-size: 20rem; 
    color: var(--primary-orange-dark);
    margin: 1rem 0; 
}

.couldnt-find {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    padding-top: 40px;
}

.back-home {
    margin: 60px 0 20px 0;
    background-color: var(--primary-orange);
    color: var(--on-primary-green);
    border-radius: var(--button-radius);
    padding: var(--button-padding);

}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*       Product Detail Page - Main Product            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

.product-page {
  background-color: #f0f0f0; 
  min-height: 100vh; 
  width: 100vw; 
  margin: 0; 
  padding: 20px; 
  box-sizing: border-box; 
  position: relative; 
}

.main-product {
    margin-top: 20px;
}

.img-container {
  background-color: #fff;
  width: 460px;
  height: 550px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  box-shadow: 10px 5px 5px #c4c4c4;
}

figure {
  margin: 0; 
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-product-img {
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
}

.details-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between product-details and add-to-cart */
    margin-left: 160px; /* Move the margin from product-details to the container */
    width: auto; /* Allow the container to adjust based on content */
    max-width: 400px; /* Match the max-width of product-details */
}

.product-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #c4c4c4;
    min-height: 200px; 
    max-width: 400px; 
    width: 100%;
    box-sizing: border-box; 
}

.product-details h3 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    word-wrap: break-word; 
}

.product-details p {
    margin-bottom: 20px;
    font-size: 1.8rem;
    word-wrap: break-word; 
}

.add-to-cart {
    gap: 80px;
    background-color: #fff;
    border: 2px solid var(--primary-green);
    border-radius: 15px;
    width: 100%; 
    box-sizing: border-box; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
}

.cart-icon {
    font-size: 4rem;
    color: var(--primary-green);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*      Product Detail Page - Similar Products         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

.similar-products {
    margin-top: 60px;
    h3 {
        font-size: 4rem;
        margin-left: 350px;
    }
}

.similar-container {
    margin-top: 40px;
    background-color: #fff;
    width: 340px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 5px 20px;
    box-shadow: 10px 5px 5px #c4c4c4;
}   

.similar-product {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    img {
        width: 100%;
        height: 250px;  
        object-fit: contain; 
        margin: 0 auto;

    }

    h4 {
        font-size: 1.8rem;
        padding-bottom: 20px;
        margin: 0;
        text-align: center;
        word-wrap: break-word;
    }

    p {
        font-size: 1.8rem;
        margin: 0;
        text-align: center;
    }
}

.similar-product-link {
    text-decoration: none; 
    color: inherit; 
}

.similar-product-link:hover {
    cursor: pointer; 
}

.similar-product-link h4 {
    color: inherit; 
    text-decoration: none; 
}